kind: EncryptionConfig
apiVersion: v1
resources:
- resources:
  - secrets
  providers:
  - aescbc:
      keys:
      - name: key
        secret: {{ kubernetes_esdar_key }}
  - identity: {}
